<div class="container">
  <div class="row">
    <div class="col">
      <todo-form (add)="addTask($event)"></todo-form>
    </div>
  </div>
  <div class="row px-4-md">
    <div class="col">
      <todo-filter
        (allTask)="listAllTask()"
        (activeTask)="listActiveTask()"
        (completedTask)="listCompletedTask()"
      ></todo-filter>
      <h4 class="text-left mt-4 mb-2" [ngPlural]="showedTasks.length">
        <ng-template ngPluralCase="=0"
          >{{ showedTasks.length }} task remaining</ng-template
        >
        <ng-template ngPluralCase="=1"
          >{{ showedTasks.length }} task remaining</ng-template
        >
        <ng-template ngPluralCase="other"
          >{{ showedTasks.length }} tasks remaining</ng-template
        >
      </h4>
      <ul class="list-group" *ngIf="showedTasks.length">
        <todo-item
          *ngFor="let task of showedTasks"
          [task]="task"
          (delete)="deleteTask(task)"
          (edit)="editTask(task)"
        ></todo-item>
      </ul>
    </div>
  </div>
</div>
