<li class="list-group-item">
  <form (ngSubmit)="editTask(); show = false">
    <div class="form-check mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        name="completed"
        [id]="task.id"
        [(ngModel)]="task.completed"
        (change)="editTask()"
      />
      <label class="form-check-label" [for]="task.id">{{ task.todo }}</label>
    </div>
    <div class="row" *ngIf="!show; else edit">
      <div class="col-6">
        <button class="btn btn-dark mx-2 w-100" (click)="show = true">
          Edit
        </button>
      </div>
      <div class="col-6">
        <button
          class="btn btn-dark w-100"
          type="button"
          (click)="delete.emit()"
        >
          Delete
        </button>
      </div>
    </div>
    <ng-template #edit>
      <div class="row">
        <div class="col-6">
          <input
            class="w-100"
            type="text"
            name="todo"
            [(ngModel)]="task.todo"
          />
        </div>
        <div class="col-3">
          <button
            class="btn btn-dark w-100"
            type="button"
            (click)="show = false"
          >
            Cancel
          </button>
        </div>
        <div class="col-3">
          <button type="submit" class="btn btn-dark w-100">Save</button>
        </div>
      </div>
    </ng-template>
  </form>
</li>
